@font-face {
    font-family: "Norse Bold";
    src: url("fonts/Norse-Bold.otf");
}
@font-face {
    font-family: "Roboto Bold";
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Roboto light";
    src: url(fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: "Roboto normal";
    src: url(fonts/Roboto-Medium.ttf);
}
:root {
    --links-color: #596D48;
    --input-color: #E5E7EB;
    --logo-color: #FFFFFF;
    --background1and3: #F9FAFB;
    --background2: #FFFFFF;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
     font-family: "Roboto normal";
}

body {
    margin: 0;
}

.container {
    display: flex;
}

.backgound { 
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35vw;
    height: 100vh;
    color: var(--logo-color);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    margin-top: 16vh;
    height: 15vh;
    gap: 5px;
}

.logo-image{
    height: 10vh;
}

.logo-text {
    font-family: "Norse Bold";
    font-weight: lighter;
    font-size: 10vh;
    display: inline;
}

.credit a {
    color: var(--logo-color);
}
.credit {
    font-size: 10px;
}

.login-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: var(--background1and3);
}

.text-section, .form-section, .options-section{
    height: 33%;
    width: 100%;
    padding: 30px;
}

.text-section {
    padding-top: 4vw;
    width: 60%;
}

.text-section h2 {
    font-size: 2.5vh;
    font-family: "Roboto normal";
    font-weight: lighter;
}

.form-section {
    background-color: var(--background2);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: fit-content;
}

.form-section h2 {
    margin-bottom: 0px;
}

.options-section button {
  background-color: var(--links-color);
  border: 1px solid var(--links-color);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  outline: 0;
  padding: 12px 45px;
}

.options-section a {
    color: var(--links-color);
}

.form ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    width: 65%;
}

.form li {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.form label {
    font-size: 0.75rem;
}

.form input {
    font-family: 'Roboto normal', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    border: 2px solid var(--input-color);
    border-radius: 4px;
    padding: 7px;
    margin: 3px 0 20px 0;
}

.form input:focus {
    border: 2px solid var(--links-color);
    outline: none;
}

#user-password:invalid, #confirm-password:invalid {
    border: 2px solid red
}

@media only screen and (max-width: 720px) {
    .container {
        flex-direction: column;
    }

    .text-section {
        height: calc(33% + 20px);
        width: 100%;
    }
    .backgound {
        width: 100vw;
        height: 40vh;
        justify-content: space-evenly;
    }
    .logo {
        margin-top: 0;
    }

    .form-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    form {
        display: flex;
        justify-content: center;
    }

    .form li {
        width: 100%;
    }

    .options-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}